{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				<!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Employees</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Employees</li>
							</ol>
						</nav>
					</div>

				</div>
				<!--end breadcrumb-->
				<div class="row">
					<div class="col-xl-12 mx-auto">

						<div class="d-flex justify-content-end">
							<a href="{% url 'employee-create' %}" class="btn btn-primary">Add employee<a/>
						</div>
						<hr/>
						<div class="card">

							<div class="card-body">
								<div class="table-responsive">
								<table id="example" class="table table-bordered mb-0 table-striped table-hover">
									<thead>
										<tr>
											<th scope="col">Code</th>
											<th scope="col">First Name</th>
											<th scope="col">Middle Name</th>
											<th scope="col">Last Name</th>
											<th scope="col"> Username</th>
											<th scope="col">Gender</th>
											<th scope="col">Role</th>
											<th scope="col">Email</th>
											<th scope="col">Contact No</th>
										</tr>
									</thead>
									<tbody>
                                    {% for i in employees %}
										<tr>
											<th scope="row">{{i.employee_id}}</th>
											<td>{{i.employee_first_name}}</td>
											<td>{{i.employee_middle_name}}</td>
											<td>{{i.employee_last_name}}</td>
											<td>{{i.employee_username}}</td>
											<td>{{i.employee_gender}}</td>
											<td>{{i.employee_role}}</td>
											<td>{{i.employee_email}}</td>
											<td>{{i.employee_contact_no}}</td>
											<td><a href="{{i.employee_id}}/employee-update/"><span style="font-size:13px" class="bx bx-pencil text-success" aria-hidden="true"></span></a>
												<a href="{{i.employee_id}}/employee-delete/"><span style="font-size:13px" class="bx bx-trash text-danger" aria-hidden="true"></span></a></td>
										</tr>
                                    {% endfor %}
									</tbody>
								</table>
								</div>
							</div>
						</div>

					</div>
				</div>
				<!--end row-->
			</div>
		</div>
		<!--end page wrapper -->


{% endblock %}