{% load static %}
<!--sidebar wrapper -->
		<div class="sidebar-wrapper" data-simplebar="true">
			<div class="sidebar-header">
				<div>
					<img src="{% static 'dashboard/assets/images/migori.png' %}" class="logo-icon" alt="logo icon">
				</div>
				<div>
					<h4 class="logo-text">Migori County</h4>
				</div>
				<div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
				</div>
			</div>
			<!--navigation-->
			<ul class="metismenu" id="menu">
				<li>
					<a href="{% url 'index' %}">
						<div class="parent-icon"><i class="bx bx-home-circle"></i>
						</div>
						<div class="menu-title">Home</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="has-arrow">
						<div class="parent-icon"><i class="bx bx-category"></i>
						</div>
						<div class="menu-title">Performance</div>
					</a>
					<ul>
						<li> <a class="dropdown-item" href="javascript:;"><i class="bx bx-caret-right"></i>My Appraisals</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript:;" class="has-arrow">
						<div class="parent-icon"><i class="bx bx-category"></i></div>
						<div class="menu-title">Configuration</div>
					</a>
					<ul>
						<li><a href="{% url 'ministry' %}"><i class="bx bx-caret-right"></i>Ministries</a></li>
						<li><a href="{% url 'designation' %}"><i class="bx bx-caret-right"></i>Designation</a></li>
						<li><a href="{% url 'duty-station' %}"><i class="bx bx-caret-right"></i>Duty Station</a></li>
						<li><a href="{% url 'section' %}"><i class="bx bx-caret-right"></i><span>Sections</span></a>
						<li><a href="{% url 'employment_type' %}"><i class="bx bx-caret-right"></i><span>Employment Type </span></a>
						<li><a href="{% url 'job_group' %}"><i class="bx bx-caret-right"></i><span>Job Group</span></a>
						<li><a href="{% url 'directorate' %}"><i class="bx bx-caret-right"></i><span>Directorate</span></a>
						<li><a href="{% url 'employee' %}"><i class="bx bx-caret-right"></i>Employees</a></li>
					</ul>
				</li>
				<li>
					<a href="javascript:;" class="has-arrow">
						<div class="parent-icon"><i class="bx bx-category"></i></div>
						<div class="menu-title">Reports</div>
					</a>
					<ul>
						<li><a class="dropdown-item" href="javascript:;"><i class="bx bx-caret-right"></i>Appraisals</a></li>
						<li><a class="dropdown-item" href="javascript:;"><i class="bx bx-caret-right"></i>Gender Balance </a></li>
					</ul>
				</li>
				<li>
					<a href="javascript:;" class="has-arrow">
						<div class="parent-icon"><i class='bx bx-wrench'></i></div>
						<div class="menu-title">Accounts</div>
					</a>
					<ul>
						<li><a class="dropdown-item" href="javascript:;"><i class="bx bx-caret-right"></i>Profile</a></li>
					</ul>
				</li>

			</ul>
			<!--end navigation-->
		</div>
		<!--end sidebar wrapper -->